.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    color: #e5e5e5;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    padding: 0 3%;
    z-index: 1; 
    box-sizing: border-box;
    background-color: transparent;
    align-items: center;
}
.left-div {
  width: 180px;
  height: 70px;
}

.left-div img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.profile{
    position: relative;
}

#profile-icon{
    
    margin-right: 1rem;
    background-color:rgb(61,63,66) ;
    padding: 8px 18px;
    border-radius: 2rem;
   font-size: 16px;
}

.profile .dropdown{
 position: absolute;
 top: 100%;
 right: 0;
 width: max-content;
 background: #191919;
 text-decoration: none;
 z-index: 1;
 border-radius: 4px;
 padding: 14px 18px;
 display: none;
 margin-right: -3rem;
 margin-top: 0.1rem;
}
.profile:hover .dropdown{
    display: block;
}
.dropdown p{
    cursor: pointer;
    font-size: 13px;
    z-index: 999;
}
.logout {
  height: 20px;
  width: 40px;
}
.signup-login{
    display: flex;
    gap: 10px;
    color: black;
    font-size: 1.1rem;
    cursor: pointer; 
    padding-top: 5px; 
}

.sign-Up{
  padding: 5px 16px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid rgba(225,225,225, 0.5);
  border-radius: 2rem;
  transition: transform 0.3s ease;
  opacity: 0.9;
}
.sign-in{
  padding: 5px 16px;
  background-color: white;
  border-radius: 2rem;
   transition: transform 0.3s ease;
   opacity: 0.9;
}
.sign-Up:hover{
  opacity: 1;
  transform: scale(1.02);
}
.sign-in:hover{
  opacity: 1;
  transform: scale(1.02);
}



/* #lumalogo{
    border: 1px solid red;
    width: 3rem;
} */


/* @media (max-width: 1060px){
    .navbar{
        padding: 20px 4%;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar img{
        height: 25px;
    }
}

@media (max-width: 500px){ 
    .navbar-right {
        gap: 10px;
    }
    .navbar img{
        height: 20px;
    }
} */